<html>
  <head>
    <title>My Notifications</title>

    <!-- Socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>

    <!-- Materialize.css -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <!-- Personal -->
    <link href="css/main.css" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <div id="app" class="container">
      <div class="card horizontal" v-for="notification in notifications">
        <div class="card-image">
          <img :src="notification.icon" />
        </div>
        <div class="card-content">
          <span class="card-title">{{ notification.title  }}</span>
          <p>{{ notification.text  }}</p>
          <p><em>{{ notification.name }} ({{ notification.package}})</em></p>
        </div>
      </div>
    </div>

    <script>
      var DEBUG = false;
      var endpoint = DEBUG ? 'http://localhost:5000' : 'https://my-notifications.mordorm.com';
      var socket = io.connect(endpoint);
      var notifications = [];

      // Listen for notifications on the socket
      socket.on('notification', function(data) {
        var model = {};
        var app = APPS[data.package];
        if (app) {
          data.icon = app.icon;
        }

        // Build our model for display
        model.package = data.package;
        model.name = data.name || 'Unknown';
        model.icon = data.icon || 'images/icons/missing.png';
        model.title = data.titleBig || data.title;
        model.text = data.textBig || data.text;

        // Add it to the list so it'll get picked up by Vue.js
        notifications.unshift(model);

        // Show a system notification
        showNotification(data);
      });

      // Ask for notification permission on page load
      if (Notification.permission === 'default') {
        Notification.requestPermission();
      }

      function showNotification(data) {
        if (Notification.permission !== 'granted') {
          return;
        }

        // Create + show notification
        var n = new Notification(data.title, {
          body: data.body,
          icon: data.icon
        });

        // Timeout needed for chrome
        setTimeout(n.closebind(n), 5000);
      }

      // Vue.js initialization
      var app = new Vue({
        el: '#app',
        data: {
          notifications: notifications
        }
      });

      // Definition of various app icons
      var APPS = {
        'com.google.android.gm': {
          icon: 'images/icons/missing.png'
        },
        'com.snapchat.android': {
          icon: 'images/icons/snapchat.png'
        },
        'com.whatsapp': {
          icon: 'images/icons/whatsapp.png'
        }
      }
    </script>
  </body>
</html>
